#content-text-input:disabled {
    background-color: #00000010;
    color: var(--darkBrown);
    transition: all .2s ease;
}

input:disabled, select:disabled {
    background-color: #00000020;
    color: var(--darkBrown);
    transition: all .2s ease;
}
/* ################################# */
/* ################################# */
/* LOGIN/REGISTRATION STYLES */
/* ################################# */
/* ################################# */
#login-container{
	height: 100vh;
	width: 100vw;
	display:flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.admin-title{
	max-width: 30vw;
}

.form-container{
	width: 30vw;
	height: 50vh;
	min-width: 350px;
	border: none;
	box-shadow: var(--shadowInsetRow);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.input-row{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: .5em;
}

.form-container input{
	padding: 5px;
	font-size: 20px;
	color: var(--darkBrown);
	background-clip: white;
	border-radius: 10px;
	border: none;
	box-shadow: var(--shadowInset1);
}

.admin-form-button{
	background-color: var(--cream);
	border: .5px solid var(--darkBrown);
	padding: 5px;
	border-radius: 2px;
	filter: var(--shadowDrop1);
	font-family: var(--headline-font);
	font-size: 16px;
	font-weight: 500;
	color: var(--darkBrown);
	width: 120px;
	align-self: center;
}

/* ################################# */
/* ################################# */
/* DASH STYLES */
/* ################################# */
/* ################################# */
#master-dash-container{
	min-height: 100vh;
	width: 100vw;
	padding: 2em;
	display:flex;
	flex-direction: column;
	position: relative;
}

.dash-row{
	position: relative;
	top:0;
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	align-content: flex-start;
}



/* SETTINGS MENU STYLES */

.dash-settings-container{
	min-width: 195px;
	min-height: 100px;
	border-radius: 10px;
	border: 3px solid var(--darkBrown);
	background-color: var(--cream);
	position: absolute;
	top: 110px;
	right: 1em;
	padding: .5em;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	filter: var(--shadowDrop1);
	box-shadow: var(--shadowInsetRow);
	font-family: var(--headline-font);
	font-size: 16px;
	font-weight: 300;
	z-index: 1;
}

#settingsMenu{
	display:none;
}

.settingsForm{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	width: 185px;
	padding: 10px;
	margin: 10px 5px 10px 5px;
	border-radius: 10px;
	border-top: 1px solid var(--darkBrown);
	border-bottom: 1px solid var(--darkBrown);
	
	background-color: var(--white);
	filter: var(--shadowDrop1);
}

.menuFormGrp{
	display:flex;
	flex-direction: column;
}

.menuFormGrp input{
	border-radius: 5px;
	border-width: .5px;
	filter: var(--shadowDrop1);
}


#changePassForm{
	display:none;
}








.dash-settings-item{
	height: 30px;
	min-width: auto;
	max-width: 100%;
	padding: 5px 10px;
	margin: 10px 5px;
	border-radius: 10px;
	border-top: 1px solid var(--darkBrown);
	border-bottom: 1px solid var(--darkBrown);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	filter: var(--shadowDrop1);
	transition: all .2s ease; 
}

.dash-settings-item:hover{
	cursor: pointer;
	letter-spacing: 2px;
	background-color: var(--brown);
	transition: all .2s ease; 
}






/* DASH HEADER/NAV MENU STYLES */

#dash-header{
	height: 5em;
	border-bottom: .5px solid var(--darkBrown);
}

#dash-header-drop{
	color: var(--brown);
	filter: var(--shadowDrop1);
}

#dash-header-title{
	position: relative;
	left: 0;
	font-size: 30px;
	font-family: var(--title-font);
	font-weight: 600px;
	color: var(--plum);
	letter-spacing: 3px;
	filter: var(--shadowDrop1);	
}

#dash-header-title2{
	font-size: 30px;
	font-family: var(--headline-font);
	font-weight: 300px;
	color: var(--darkBrown);
	letter-spacing: 3px;
}

.dash-header-link-group{
	position: relative;
	right: 0;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--darkBrown);
	margin: 0px 1em;
	transition: all .2s ease;
}

.dash-header-link-group:first-of-type{
	margin-left: auto;
}

.dash-header-link-group:hover{
	cursor:pointer;
	color: var(--brown);
	margin-bottom: 0px;
	
	filter: var(--shadowDrop1);	
	transition: all .2s ease;
}

.dash-header-link-text{
	font-size: 18px;
	font-family: var(--text-font1);
	font-weight: 500;
}

.dash-header-icon{
	font-size: 30px;
	margin-bottom: 5px;
}


/* DASH MASTER CONTENT STYLES */

#dash-text-content-container{
	flex-direction: column;
	min-height: 50vh;
	border-bottom: .5px solid var(--darkBrown);
}

.dash-content-title{
	font-family: var(--headnline-font);
	font-weight: 200;
	font-size: 50px;
	color: var(--darkBrown);
	border-bottom: .5px solid var(--darkBrown);
	position: absolute;
	top: 0;
	left: 2em;
	z-index: 1;
}

/* dash-content-row class*/
.dash-content-row{
	width: 100%;
	min-height: 30vh;
	min-height: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}


/* dash-content-row LEFT */
#dcr-left{
	flex:1;
	flex-grow:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
	height: 40vh;
	min-width: 425px;
	padding: 1em;
	border-right: .5px solid var(--darkBrown);
}


.dash-content-list-title{
	font-family: var(--title-font);
	font-weight: 200;
	font-size: 20px;
	padding: 10px 0px 10px 10px;
	border-bottom: .5px solid var(--darkBrown);
	min-width: 300px;
	max-width: 80%;
	display:flex;
	align-items: center;
	margin-top: 1em;
	border-radius: 5px;
}

.dash-content-list-title:hover{
	cursor: pointer;
	box-shadow: var(--shadowInset2);
	background-color: var(--cream);
	transition: all .2s ease;
}

.dash-content-list-title-active{
	box-shadow: var(--shadowInset2);
	background-color: var(--cream);
	
	transition: all .2s ease;
}


/* dash-content-row RIGHT */
#dcr-right{
	flex:1;
	flex-grow:1;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40vh;
	padding: 1.5em;
	min-width: 425px;
}

#content-text-input{
	min-width: 100%;
	height: 80%;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--shadowInsetRow);
	border:none;
	padding: 2em;
	font-family: var(--text-font1);
	font-size: 18px;
	font-weight: 200;
}

.content-button-box{
	height: 15%;
	min-width: 40px;
	align-self: flex-end;
	display:flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 2px;
	border-left: .5px solid black;
	border-right: .5px solid black;
	margin-top: 10px;
}

.dash-text-content-button{
	font-size: 35px;
	padding: 0 .5em 0 .5em;
	transition: all .2s ease;
}
.dash-text-content-button:hover{
	margin-bottom: 5px;
	transition: all .2s ease;
}

#dash-text-edit-button{
	color: var(--darkYellow);
}

#dash-text-edit-button:hover{
	color: var(--yellow);
}

#dash-text-save-button{
	display: none;
	color: var(--darkGreen);
}
#dash-text-save-button:hover{
	color: var(--green);
}
#dash-text-cancel-button{
	display: none;
	color: var(--darkRed);
}
#dash-text-cancel-button:hover{
	color: var(--red);
}




/* IMAGE CONTENT STYLES */
#dash-image-content-container{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	min-height: 40vh;
	border-bottom: .5px solid var(--darkBrown);
	align-items: center;	
}

.dash-image-column{
	min-height: 375px;
	min-width: 250px;
	display:flex;
	flex-direction: column;
	align-items: center;
	border: .5px solid var(--darkBrown);
	padding: 15px;
	position:relative;
	left: 0;
	margin: 10px;
}

.dash-image-container{
	width: 250px;
	height:225px;
	position: relative; 
	top: 0;
	padding: 1em;
	border: 1px solid var(--darkBrown);
	display: flex;
	align-items: center;
	justify-content: center;
		
}

.dash-image{
	position:absolute;
	top: 5px;
	left: 5px;
	width: 240px;
	max-height: 225px;
	object-fit: contain;
	z-index: -1;
}

.dash-image-cancel-button{
	font-size: 80px;
	color: #00000050;
	display:none;
	transition: all .2s ease;
}

.dash-image-cancel-button:hover{
	font-size: 100px;
	color: var(--darkRed);
	transition: all .2s ease;
}

.dash-image-title{
	width: 100%;
	position: relative;
	top:5px;
	text-align: center;
	font-family: var(--mono-font);
	font-size: 20px;
	font-weight: 300;
	text-decoration: underline; 
}

.dash-image-button{
	min-width: 60%;
	position: relative;
	top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--darkBlue);	
	border-radius: 10px;
	border: 1px solid var(--darkBlue);
	padding: 10px;
	font-weight: 300;
	font-size: 25px;
	transition: all .2s ease;
}

.dash-image-button:hover{
	cursor:pointer;
	background-color: var(--blue);
	top: 8px;
	filter: var(--shadowDrop1);
	transition: all .2s ease;
	
}

.dash-img-icon{
	display:none;
}


/* MENU CONTENT STYLES */
#dash-menu-content-container{
	flex-direction: column;
	align-items:center;
	align-content: center;
	justify-content: center;
	min-height: 50vh;
	border-bottom: .5px solid var(--darkBrown);
}

#dash-menu-table{
	margin-top: 5em;
}

tr th:first-child{
	width: 150px;
}

tr th{
	max-width: 100px;
	text-align: center;
}

td, th{
	height: 50px;
}

table input, table select{
	border-radius: 10px;
}

table input{
	padding: 4px;
}

table select{
	padding: 3px;
}

#create-item-tRow{
	background-color: var(--blueOpac);
}

.kitchen-option{
	display:none;
}

.cafe-option{
	display:none;
}

#price-input{
	width: 100px;
}

.needInputAlert{
	border: 2px solid var(--darkRed);
	box-shadow: 0px 0px 7px var(--red);
}

#addItem-button{
	font-size: 25px;
	color: var(--darkGreen);
	transition: all .2s ease;
}

#addItem-button:hover{
	font-size: 30px;
	color: var(--green);
	transition: all .2s ease;
}


.coffee-row{
	background-color: var(--brownOpac);
}

.tea-row{
	background-color: var(--darkGreenOpac);
}

.cooler-row{
	background-color: var(--blueOpac);
}

.breakfast-row{
	background-color: var(--darkYellowOpac);
}

.sweet-row{
	background-color: var(--darkRedOpac);
}

.shop-row{
	background-color: var(--darkBrownOpac);
}


.showcase-row{
	background: var(--white);
	transition: all .2s ease;
}



table .dash-item-action-td{
	background: var(--white);
	min-width: 100px;
	display:flex;
	align-items:center;
	justify-content: space-around;
	transition: all .2s ease;
}


table .hidden-td{
	display:none;
	transition: all .2s ease;
}


.edit-item-button{
	font-size: 25px;
	align-self:center;
	color: var(--darkYellow);
	transition: all .2s ease;
}

.edit-item-button:hover{
	font-size: 30px;
	color: var(--yellow);
	transition: all .2s ease;
}

.trash-item-button{
	font-size: 25px;
	align-self:center;
	color: var(--darkBlue);
	transition: all .2s ease;
}

.trash-item-button:hover{
	font-size: 30px;
	color: var(--blue);
	transition: all .2s ease;
}


.update-item-button{
	font-size: 25px;
	align-self:center;
	color: var(--darkGreen);
	transition: all .2s ease;
}

.update-item-button:hover{
	font-size: 30px;
	color: var(--green);
	transition: all .2s ease;
}

.delete-item-button{
	font-size: 25px;
	align-self:center;
	color: var(--darkRed);
	display:none;
	transition: all .2s ease;
}

.delete-item-button:hover{
	font-size: 30px;
	color: var(--red);
	transition: all .2s ease;
}

.cancel-item-button{
	font-size: 25px;
	align-self:center;
	color: var(--darkYellow);
	transition: all .2s ease;
}

.cancel-item-button:hover{
	font-size: 30px;
	color: var(--yellow);
	transition: all .2s ease;
}




































